.screen-four {
  margin: 0 0 15rem 0;
}

.screen-four-title {
font-family: 'Roboto', sans-serif; 
font-style: normal;
font-weight: bold;
font-size: 8rem;
margin: 15rem 0;
color: #010662;
}

.qoute {
  margin: 15rem 0 15rem 0;
}

.video-lesson {
  margin: 5rem 17rem 10rem;
}

.grechik-text {
font-family: 'Roboto', sans-serif;
background: #010662;
font-style: normal;
font-weight: normal;
font-size: 3rem;
line-height: 130.4%;
color: #FFFFFF;
margin: 1rem -3rem 4rem 15rem;
padding: 6rem 10rem 18rem 14rem;
}

.grechik-text-element {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 3rem;
margin: 2rem 2rem 4rem 63rem;
}

.group-text {
margin: -103rem 0 23.5rem 0;
}

.avatar-gerchik {
background: url(../img/grechik.png) no-repeat;
width: 56.1rem;
height: 111.6rem;
margin: 0 1rem 0 0;
}