.header-wrapper {
position: fixed;
max-width: 50%;
margin: 0 0 0 50%;
z-index: 4;
}
  
.header-top {
display: flex;
align-items: center;
background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #2A2E31;
box-shadow: 0px 10px 25px rgba(58, 64, 91, 0.15);
border-radius: 100px 0px 0px 100px;
padding: 1rem;
-webkit-box-shadow: 0px 20px 100px 30px rgba(0,0,0,0.46);
-moz-box-shadow: 0px 20px 100px 30px rgba(0,0,0,0.46);
box-shadow: 0px 20px 100px 30px rgba(0,0,0,0.46);
}
  
.header-top-menu {
display: flex;
align-items: center;
padding: 4px 0 4px 4px;
position: relative;
}
  
.header-top-menu::before {
box-sizing: border-box;
color: #fff;
}

.site-nav {
display: flex;
align-self: center;
padding: 1rem;
}
  
.phone-call {
width: 180px;
display: flex;
align-items: center;
position: relative;
z-index: 2;
}
  
.phone-call__icon {
width: 36px;
height: 36px;
border-radius: 50%;
background: url(../../img/call.svg) no-repeat center,#195DDC;
margin-right: 14px;
}
  
.phone-call__number {
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 12px;
line-height: 14px;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #4D53C0;
}

.phone-call__arrow {
width: 12px;
height: 12px;
background: url(../../img/Arrow.svg) no-repeat center/contain;
margin-left: 4px;
transition: 0.3s;
cursor: pointer;
}

.white-arrow {
width: 16px;
height: 16px;
background: url(../../img/Arrow-white.svg) no-repeat center/contain;
}

.white {
font-size: 12px;
color: #ffffff; 
}
  
.header-top-menu__item {
font-family: 'Lato', sans-serif;
font-weight: bold;
font-size: 12px;
line-height: 14px;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: rgba(58,64,91,0.6);
margin-right: 50px;
position: relative;
z-index: 2;
text-decoration: none;
cursor: pointer;
transition: 0.5s;
}

.phone-call__list {
width: 100%;
min-width: initial;
padding: 12px 10px;
position: absolute;
top: 50px;
left: 0;
}

.submenu-box {
    display: none;
    min-width: 260px;
    box-shadow: 0px 20px 40px rgba(18,18,18,0.4);
    background: #FFFFFF;
    border-radius: 4px;
    padding: 24px;
    position: absolute;
    z-index: 50;
}
  
.header-bottom {
display: flex;
align-items: center;
box-sizing: border-box;
}
  
.header-bottom-menu {
display: flex;
align-items: center;
font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 16px;
}
  
.header-bottom-menu__item {
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-weight: 600;
font-size: 16px;
color: #ffffff;
line-height: 25px;
letter-spacing: 0.15px;
padding: 18px 0;
margin: 0 3rem;
position: relative;
} 